<form class="{{cssClass}}" autocomplete="off">
    <header class="column flex-gap">
        <section class="row flex-gap">
            <div class="character-image">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="92" width="92"
                    class="profile-img" />
            </div>
            <div class="column stretch">
                <input class="character-name" name="name" type="text" value="{{actor.name}}"
                    placeholder="{{localize 'splittermond.name' }}" />
                <div>
                    <input class="autoexpand" name="data.type" type="text" value="{{data.type}}"
                        placeholder="{{localize 'splittermond.opponenttype'}}" />
                    {{#unless this.limited}}
                    &nbsp;&middot;&nbsp;
                    <input class="autoexpand" name="data.level" type="text" value="{{data.level}}"
                        placeholder="{{localize 'splittermond.opponentlevel'}}" />&nbsp;&middot;&nbsp;
                    <input class="autoexpand" name="data.sex" type="text" value="{{data.sex}}"
                        placeholder="{{localize 'splittermond.sex'}}" />
                    {{/unless}}
                </div>
                {{#unless limited}}
                <ul class="npcfeatures taglist" data-item-type="npcfeature">
                    {{#each itemsByType.npcfeature}}
                    <li class="taglist-item" data-item-id="{{this._id}}">
                        <div class="taglist-item-name">
                            <a data-action="edit-item">{{this.name}}</a>
                        </div>
                        <div class="taglist-item-actions">
                            <button class="button-inline" data-action="delete-item" type="button">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                    {{/each}}
                    <li class="taglist-actions"><button class="button-inline" type="button" data-action="add-item"
                            data-render-sheet="true">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button></li>
                </ul>
            </div>
            {{/unless}}
        </section>
        {{#unless limited}}
        <section class="column">
            {{> "systems/splittermond/templates/sheets/actor/parts/focus-health.hbs" focus=data.focus
            health=data.health}}
            {{> "systems/splittermond/templates/sheets/actor/parts/derived-attributes.hbs"
            derivedAttributes=actor.derivedValues damageReduction=actor.damageReduction editable=editable}}
        </section>
        {{/unless}}
    </header>
    {{#unless limited}}
    <nav class="sheet-navigation" data-group="primary">
        <a class="sheet-navigation-item" data-tab="biography">{{ localize "splittermond.biography" }}</a>
        <a class="sheet-navigation-item" data-tab="general">{{ localize "splittermond.general" }}</a>
        <a class="sheet-navigation-item" data-tab="spells">{{ localize "splittermond.spells" }}</a>
        <a class="sheet-navigation-item" data-tab="inventory">{{ localize "splittermond.inventory" }}</a>
        <a class="sheet-navigation-item" data-tab="status">{{ localize "splittermond.status" }}</a>
    </nav>
    <main>
        <section class="tab" data-group="primary" data-tab="biography">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </section>
        <section class="tab" data-group="primary" data-tab="general">
            {{> "systems/splittermond/templates/sheets/actor/parts/attribute-input.hbs" attributes=actor.attributes}}
            <div data-roll-type="skill">
                <div class="list skills">
                    <div class="list-header">
                        <h3>{{localize "splittermond.generalSkills"}}</h3>
                        <div class="list-actions">
                            <button class="button-inline" data-action="show-hide-skills" type="button">
                                {{#if hideSkills}}
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                {{/if}}
                            </button>
                        </div>
                    </div>
                    <ol class="list-body skill-list">
                        {{#each generalSkills as |skill skillId|}}
                        <li class="list-item draggable" data-skill="{{skillId}}">
                            <label>
                                <a class="rollable">
                                    {{localize skill.label}}
                                </a>
                            </label>
                            <div class="value">
                                <input name="data.skills.{{skillId}}.value" type="text" value="{{skill.value}}"
                                    data-dtype="Number">
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
                <div class="list skills">
                    <div class="list-header">
                        <h3>{{localize "splittermond.fightingSkills"}}</h3>
                        <div class="list-actions">
                            <button class="button-inline" data-action="show-hide-skills" type="button">
                                {{#if hideSkills}}
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                {{/if}}
                            </button>
                        </div>
                    </div>
                    <ol class="list-body skill-list">
                        {{#each fightingSkills as |skill skillId|}}
                        <li class="list-item" data-skill="{{skillId}}">
                            <label>
                                {{localize skill.label}}
                            </label>
                            <div class="points">
                                <input name="data.skills.{{skillId}}.points" type="text" value="{{skill.points}}">
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
                <div class="list skills">
                    <div class="list-header">
                        <h3>{{localize "splittermond.magicSkills"}}</h3>
                        <div class="list-actions">
                            <button class="button-inline" data-action="show-hide-skills" type="button">
                                {{#if hideSkills}}
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                {{else}}
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                {{/if}}
                            </button>
                        </div>
                    </div>
                    <ol class="list-body skill-list">
                        {{#each magicSkills as |skill skillId|}}
                        <li class="list-item draggable" data-skill="{{skillId}}">
                            <label>
                                <a class="rollable">{{localize skill.label}}</a>
                            </label>
                            <div class="value"><input name="data.skills.{{skillId}}.value" type="text"
                                    value="{{skill.value}}" data-dtype="Number">
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>

            <div>
                <div>
                    {{> "systems/splittermond/templates/sheets/actor/parts/combat-actions.hbs"
                    activeDefense=actor.activeDefense attacks=actor.attacks}}
                </div>
                {{> "systems/splittermond/templates/sheets/actor/parts/mastery-list.hbs"
                masteriesBySkill=masteriesBySkill generalSkills=generalSkills fightingSkills=fightingSkills
                magicSkills=magicSkills}}
            </div>

        </section>
        <section class="tab" data-group="primary" data-tab="spells">
            <div>
                {{> "systems/splittermond/templates/sheets/actor/parts/spells-list.hbs" spellsBySkill=spellsBySkill
                channeledSpells=data.focus.channeled.entries}}
            </div>
        </section>
        <section class="tab" data-group="primary" data-tab="inventory">
            <div>
                {{> "systems/splittermond/templates/sheets/actor/parts/inventory-list.hbs" itemsByType=itemsByType
                currency=data.currency}}
            </div>
        </section>
        <section class="tab" data-group="primary" data-tab="status">
            {{> "systems/splittermond/templates/sheets/actor/parts/status-tab.hbs"
            channeledHealthEntries=data.health.channeled.entries statuseffects=itemsByType.statuseffect
            spelleffects=itemsByType.spelleffect
            hasRestActions=false}}
        </section>
    </main>
    {{/unless}}
</form>