<div class="splittermond damage">
    <header>
        <div style="font-size: 32px; width: 36px; margin-right: 7px; text-align: center; vertical-align: bottom">
            <i class="fas fa-heart-broken"></i>
        </div>
        <div>
            <h2>{{#if source}}{{source}}{{else}}{{localize "splittermond.damage"}}{{/if}}</h2>
            {{#if source}}<span class="roll-type">{{localize "splittermond.damage"}}</span>{{/if}}
        </div>
    </header>
    {{#if features}}
    <ul class="features">
        {{#each features}}
        <li class="{{#if this.active}}active{{/if}}">{{this.name}}</li>
        {{/each}}
    </ul>
    {{/if}}
    <div class="roll-summary dice-roll">
        <div class="dice-formula">{{formula}}</div>
        <div class="roll-total">{{roll.total}}</div>
        {{{tooltip}}}
    </div>
    {{#if actions}}
    <div class="actions gm-only">
        <h3>{{localize "splittermond.furtherActions"}}</h3>
        {{#each actions}}
        <button class="{{this.classes}}" {{#each this.data}}data-{{@key}}="{{this}}" {{/each}}><i
                class="fas {{this.icon}}"></i> {{this.name}}</button>
        {{/each}}
    </div>
    {{/if}}
</div>