<form>
    <div class="properties-editor">
        <label>{{localize "splittermond.skill"}}</label>
        <select name="skill">
            {{selectOptions skills selected=skill nameAttr="key" labelAttr="label" localize=true}}
        </select>
        <label>{{localize "splittermond.difficulty"}}</label>
        <div class="row">
            <button class="button-inline" type="button" data-action="dec-value" data-input-query="input[name='difficulty']">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <input name="difficulty" value="{{difficulty}}" type="text">
            <button class="button-inline" type="button" data-action="inc-value" data-input-query="input[name='difficulty']">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>